:root{
    --cor1: #1f2d3d;
    --cor2: #2f80ed;
    --cor3:  #f5f7fa;
    --cortexto:  #333333;
    --cordestaque:  #27ae60;
    --corerro:  #eb5757;

    --fonte1:  Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte1);
    width: 100%;
}

header{
    height: 80px;
    border: 1px solid var(--cor2);
    border-radius: 38px;
    margin: 20px 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.463);
}

header img{
    width: 130px;
    margin-top: -30px;
    margin-left: 10px;
}

header nav{
    margin-top: -106px;
    text-align: right;
    padding-right: 20px;
}

header nav a{
    text-decoration: none;
    color: var(--cor3);
    padding: 10px;
}

a:hover{
    color: var(--cor2);
    transform: scale(1.1);
    transition: 0.6s;
}

.texto-inicial{
    margin: 50px 10px 50px 10px;
    text-align: center;

    h1{
        color: var(--cor2);
        width: 800px;
        padding: 10px;
        margin: auto;
        font-size: 50px;
    }

    p{
        color: var(--cor3);
        margin: auto;
        font-size: 20px;
    }
}

.hero{
    margin: auto;
    text-align: center;

    h2{
        color: var(--cor2);
        font-size: 30px;
    }

    p{
        margin: auto;
        text-align: center;
        color: var(--cor3);
        padding: 10px 10px;
        width: 700px;
        font-size: 19px;
    }
}

.planos1{
    padding: 40px 10px 40px 10px;
    display: block;

    h2{
        margin: auto;
        text-align: center;
        color: var(--cor2);
        font-size: 30px;
    }
}

.planos{
    margin-top: 40px;
    display: flex;
    padding: 0 10px;

    .plano1 .plano2 .plano3 .plano4{
        padding-bottom: 20px;
    }
}

.plano1{
    margin: 10px 30px;
    border: 1px solid var(--cor2);
    border-radius: 20px;
    background-color: var(--cor3);
    width: 300px;
    text-align: left;
    margin: auto;
    padding: 30px 25px;
    height: 200px;

    h3{
        margin: auto;
        color: var(--cor1);
        font-size: 25px;
    }

    ul li{
        padding: 5px 0 5px 0;
        font-size: 18px;
    }

    strong{
        color: var(--cor2);
        font-size: 18px;
    }

    p{
        padding: 5px 0 5px 0;
        font-size: 18px;
        color: var(--corerro);
    }
}

.plano2{
    margin: 108x 30px;
    border: 1px solid var(--cor2);
    border-radius: 20px;
    background-color: var(--cor3);
    width: 300px;
    text-align: left;
    margin: auto;
    padding: 30px 25px;
    height: 200px;

    h3{
        margin: auto;
        color: var(--cor1);
        font-size: 25px;
    }

    ul li{
        padding: 5px 0 5px 0;
        font-size: 18px;
    }

    p{
        padding: 5px 0 5px 0;
        font-size: 18px;
        color: var(--corerro);
    }
}

.plano3{
    margin: 10px 30px;
    border: 1px solid var(--cor2);
    border-radius: 20px;
    background-color: var(--cor3);
    width: 300px;
    text-align: left;
    margin: auto;
    padding: 30px 25px;
    height: 200px;


    h3{
        margin: auto;
        color: var(--cor1);
        font-size: 25px;
    }

    ul li{
        padding: 5px 0 5px 0;
        font-size: 18px;
    }

    p{
        padding: 5px 0 5px 0;
        font-size: 18px;
        color: var(--corerro);
    }
}

.plano4{
    margin: 30px 30px;
    border: 1px solid var(--cor2);
    border-radius: 20px;
    background-color: var(--cor3);
    width: 300px;
    height: 200px;
    text-align: left;
    margin: auto;
    padding: 30px 25px;

    h3{
        margin: auto;
        color: var(--cor1);
        font-size: 25px;
    }

    ul li{
        padding: 5px 0 5px 0;
        font-size: 18px;
    }

    p{
        padding: 5px 0 5px 0;
        font-size: 18px;
        color: var(--corerro);
    }
}

.beneficios{
    display: contents;
    margin: auto;

    h2{
        color: var(--cor2);
        font-size: 30px;
        margin-bottom: 10px;
        margin: auto;
        text-align: center;
    }

    ul li{
        margin: auto;
        text-align: center;
        padding: 5px 0;
        font-size: 18px;
        color: var(--cor3);
    }
}

.cta{
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

    h2{
        color: var(--cor2);
        font-size: 30px;
    }

    p{
        color: var(--cor3);
        font-size: 18px;
        padding: 10px 0 20px 0;
    }

    a{
        text-decoration: none;
        color: var(--cor3);
        font-weight: 700;
        background-color: var(--cordestaque);
        padding: 10px;
        border-radius: 30px;
    }
}

@media screen and  (max-width: 1100px) {
    
    header{
        width: 94%;
    }

    .texto-inicial{
        

        h1{
            font-size: 30px;
            width: 350px;
            text-align: center;
        }
    }

    .hero{

        p{
            width: 350px;
        }
    }

    
    
    .planos{
        display: block;
        padding: 20px 0;

    .plano1{
    width: 250px;
    margin-bottom: 20px;

    h3{
        padding-bottom: 9px;
    }
    }

    .plano2{
    width: 250px;
    margin-bottom: 20px;

    h3{
    padding-bottom: 9px;
    }
    }

    .plano3{
    width: 250px;
    margin-bottom: 20px;

    h3{
padding-bottom: 9px;
}
    }

    .plano4{
    width: 250px;

    h3{
padding-bottom: 9px;
}
    }
    }
}

.beneficios{


    h2{
        width: 300px;
        text-align: center;
        margin-bottom: 20px;
    }

    ul li{
        width: 300px;
        text-decoration: none;
    }
}

.cta{

    margin-bottom: 60px;
    h2{
        width: 330px;
        text-align: center;
        margin: auto;
    }

    p{
        padding: 20px 0 50px 0;
        width: 360px;
        text-align: center;
        margin: auto;
    }

    a{
        margin: 0 0 50px 0;
        padding: 20px;
    }

}